results.csv
histories/SRO-lasso-count_gaussian.json
histories/SRO-lasso-count.json
histories/SRO-lasso-gaussian.json
histories/SRO-lasso-none.json
histories/SRO-scad-count_gaussian.json
histories/SRO-scad-count.json
histories/SRO-scad-gaussian.json
histories/SRO-scad-none.json
sro/__pycache__/__init__.cpython-38.pyc
sro/__pycache__/__init__.cpython-39.pyc
sro/__pycache__/regularizers.cpython-38.pyc
sro/__pycache__/regularizers.cpython-39.pyc
sro/__pycache__/sketching_simple.cpython-38.pyc
sro/__pycache__/sketching_simple.cpython-39.pyc
sro/__pycache__/sketching.cpython-39.pyc
sro/__pycache__/sro_solver_simple.cpython-38.pyc
sro/__pycache__/sro_solver_simple.cpython-39.pyc
sro/__pycache__/sro_solver.cpython-39.pyc
